.login .username_con,
.login .password_con,
.login .actions_con {
  display: inline-block;
  *display: inline;
  zoom:1;
  vertical-align: middle;
  position: relative;
}

.login div.password {
  position: absolute;
  padding: 8px;
  left: 0;
  top: 0;
}

.login label,
.login .title {
  display: none;
}

.password_reset{
    max-width: 550px;
}

.password_reset .password_rules {
    margin-top: 0;
}

.password_reset .username_con,
.password_reset .password_con {
    display: block;
}

.password_reset .password_con,
.password_reset .password_verification_con {
    margin: 10px 0;
}

.password_reset .label.password,
.password_reset .label.username {
    float: left;
    width: 150px;
}

.password_reset input.set_password_button {
    margin: 0;
}
