#header_wc_0 {
  padding: 15px 30px 10px;
  width: auto;
}

#nav_wc_0 {
  padding: 0 30px;
  width: auto;
}

#body_wc_0 {
  margin: 10px;
  width: auto;
  min-width: 900px;
  padding: 30px 30px 60px;
}
