button.miwt_calendar_open {
	background: transparent url(/resources/dyn/files/205191z67b40d25/_fn/icon-calendar.png) no-repeat scroll center top;
	height: 24px;
	width: 24px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-indent: -1000em;
	font: normal .9em Arial;
	cursor: hand;
	cursor: pointer;
	border: none;
	color: $color-grey-55;
}