
.login  {
	.message_container {
		margin-top: 0;
	}

	.message {
		&.important {
			@include style-message-error;
			font-size: 13px;
		}
	}

	p.title {
		@include style-h1;
		margin-top: 0;
	}

	.username_con,
	.password_con,
	.password_verification_con {
		position: relative;
		margin: 0 0 10px;

		input {
			width: 100%;
		}
	}

	div.password {
		position: absolute;
		padding: 8px;
		left: 0;
		top: 0;
	}

	label {
		display: none;
	}

	.actions_con {
		text-align: center;
	}

	.retrieve_password_link {
		margin-top: 25px;
		text-align: center;

		a {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.password_reset {
		.username_con {
			span.value {
				display: block;
				padding: 5px 0;
				color: $color-grey-77;
				font-weight: bold;
			}
		}
	}
}
