.pager {
	width: 100%;
}

table.pager {
	td.pager_pages {
		text-align: center;
		padding: 5px;
	}

	.miwt_table {
		margin: 5px 0;
	}
}

.pager_search_results {
	.pager_top,
	.pager_bottom {
		text-align: center;
		margin: 15px 0;
	}
}

.column_visibility button.miwt_button{
	&:active {
		background: transparent url(/resources/all/docroot/miwt/component/images/view.gif) no-repeat center;
	}
	&:hover {
		background-position: center;
		transition: none;
	}
}