.search_wrapper {
	margin: 0 0 45px;

	.miwt_table {
		margin: 0;
	}

	.entity_actions,
	.result_actions {
		margin: 30px 0 10px 30px;
		float: right;
	}

	input,
	select,
	textarea {
		border: 1px solid #B7B7B5;
		padding: 2px;
		margin: 2px;
	}
}

.search_bar {
	margin: 10px 0;
	padding: 5px 0;

	.result_limit {
		display: block;
	}

	.constraint {
		display: inline-block;
		zoom: 1;
		*display: inline;
		white-space: nowrap;
		margin: 5px;
		padding: 5px;

		label {
			display: block;
		}
	}

	.actions {
		display: inline-block;
		zoom: 1;
		*display: inline;
		padding: 0 10px;
	}

	.no_search & {
		display: none;
	}
}