

div.tab-content {
	border-top: 1px $color-grey-dd solid;
	background: $color-white;
	padding: 8px;
	clear: both;
}

ul.tab-items {
	list-style: none;
	padding: 0;
	margin: 0 0 0 15px;

	li {
		display: inline-block;
		vertical-align: bottom;
		*zoom: 1;
		*display: inline;
		font-size: 12px;
		background-color: #f0f0f0;
		border: 1px #ddd solid;
		border-bottom: none;
		font-weight: bold;
		margin: 0 2px;

		&:hover {
			color: $color-black;
			text-decoration: none;
		}

		&.tab-selected {
			margin-bottom: -1px;
			border-bottom: 1px $color-white solid;
			background: $color-white url("/resources/all/docroot/cms/icons/tab-gray-grad-bg-a.gif") repeat-x left top;

			a {
				color: #330000;
				border-top-color: #ffd75d;
			}
		}

		a {
			text-decoration: none;
			color: $color-grey-55;
			display: block;
			padding: 5px 15px;
			border-top: 1px solid $color-white;
		}
	}
}
