@mixin style-h1 {
	font-family: $font-georgia;
	font-weight: normal;
	font-size: 2em;
	margin: 0.67em 0;
}

@mixin style-h2 {
	font-family: $font-georgia;
	font-weight: normal;
	font-size: 1.5em;
	margin: 0.83em 0;
}

@mixin style-h3 {
	color: #23596a;
	font-family: $font-georgia;
	font-weight: normal;
	font-size: 1.17em;
	margin: 1em 0;
}

@mixin style-h4 {
	font-size: 1em;
	margin: 1.33em 0;
}

@mixin style-h5 {
	font-size: 0.83em;
	margin: 1.67em 0;
}

@mixin style-h6 {
	font-size: 0.67em;
	margin: 2.33em 0;
}

@mixin style-message-override($color-text, $color-bg, $color-border, $color-content, $content: "") {
	padding-left: 40px;
	color: $color-text;
	background-color: $color-bg;

	&:before {
		display: block;
		color: $color-content;
		content: $content;
	}
}

@mixin style-message-base {
	display: block;
	position: relative;
	margin: 5px 0;
	padding: 10px;
	font-size: 13px;
	border-radius: 3px;

	&:before {
		position: absolute;
		top: 50%;
		left: 10px;
		margin-top: -11px;
		font-size: 20px;
		font-family: $font-glyph-lib;
	}
}

@mixin style-message-error {
	@include style-message-override(#D74300, #FFD9DA, #FFABAD, #FA797C, $html-entity-error);
	font-weight: bold;
}

@mixin style-message-info {
	@include style-message-override(#A08F29, #FFF5BA, #EAD65C, #DBC018, $html-entity-warning);
}