@import "../../config/base-import";

.w9form {
	width: 900px;
	margin: 0 auto;

	h1 {
		text-align: center;
	}

	.section {
		border-bottom: 1px solid $color-black;
		@include clearfix;

		.heading {
			border-bottom: 1px solid #000;

			.name {
				background: #000;
				color: #fff;
				padding: 3px 5px;
				margin-right: 25px;
				display: inline-block;
			}

			.description {
				font-weight: bold;
			}
		}
	}

	.header {
		.form_id {
			float: left;
			border-right: 1px solid $color-black;
			width: 150px;
			height: 95px;

			.form_name {
				display: block;
			}

			.form_number {
				font-size: 40px;
				line-height: 1;
				font-weight: bold;
				margin-left: 5px;
			}
		}

		.form_revision {
			display: block;
			font-size: 11px;
		}

		.form_full_name {
			float: left;
			text-align: center;
			font-weight: bold;
			font-size: 20px;
			width: 600px;
			height: 75px;
			padding-top: 20px;
		}

		.form_submission_instructions {
			float: left;
			width: 128px;
			border-left: 1px solid #000;
			padding: 15px 10px;
			font-weight: bold;
			height: 65px;
			line-height: 1.5;
		}
	}

	.basic_info {
		position: relative;

		.instructions {
			position: absolute;
			left: -125px;
			top: 135px;
			text-align: center;
			font-weight: bold;
			transform: rotate(-90deg);
			filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
			width: 300px;
		}

		.form {
			margin-left: 50px;
			border-left: 1px solid $color-black;
		}

		.question {
			border-bottom: 1px solid $color-black;

			> label {
				font-size: 11px;
				display: block;
				padding-left: 10px;
			}
		}

		input[type=text] {
			background: #f1f4ff;
			padding: 5px;
			margin: 0;
			border: none;
			width: 100%;
			box-sizing: border-box;
			box-shadow: none;

			&:focus {
				border: none;
				box-shadow: none;
				background: $color-white;
			}
		}

		select {
			padding: 4px 0;
			border: none;
			background: transparent
		}

		.classification {
			width: 725px;
			float: left;
			height: 140px;
		}

		.exempt {
			float: left;
			width: 123px;
			height: 140px;
			border-left: 1px solid $color-black;

			> label {
				display: none;
			}

			.ctb {
				font-size: 12px;
				padding-top: 60px;
				padding-left: 10px;
				display: block;
			}
		}

		.address {
			clear: both;
			position: relative;
			border-bottom: 1px solid #000;
		}

		.address_form {
			label {
				display: none;
			}

			input,
			select {
				position: absolute;
				top: 200px;
			}

			input.address_line_first {
				top: 14px;
				left: 0;
				width: 300px;
			}

			input.address_line_last {
				top: 14px;
				left: 301px;
				width: 300px;
			}

			input.city {
				top: 55px;
				left: 0;
				width: 249px;
			}

			select.region {
				top: 55px;
				left: 256px;
				width: 190px;
				margin: 0;
			}

			input.postal_code {
				top: 55px;
				left: 451px;
				width: 150px;
			}
		}

		.question_subgroup .question {
			display: inline-block;
			vertical-align: top;
			height: 40px;
			border-right: 1px solid #000;
		}

		.street_address .address_line {
			width: 300px;
		}

		.area {
			.question {
				border-bottom: none;
			}

			.city {
				width: 249px;
			}

			.region {
				width: 200px;
			}

			.postal_code {
				width: 150px;
			}
		}

		.account_numbers {
			border: none;
		}
	}

	.classification {
		> div {
			line-height: 26px;
		}

		.sole_proprietor,
		.c_corp,
		.s_corp,
		.partnership,
		.trust,
		.llc,
		.llc_tax_class {
			display: inline-block;
			margin-right: 20px;
			margin-top: 10px;
		}

		.sole_proprietor,
		.llc,
		.other {
			margin-left: 10px;
		}

		.llc,
		.other {
			margin-top: 10px;
		}
	}

	.part1 {
		.instructions {
			float: left;
			width: 650px;
		}

		.form {
			float: left;
			width: 200px;
			margin-left: 50px;

			.question {
				margin: 15px 0;

				label {
					font-size: 12px;
				}

				.val {
					display: block;
					border: 1px solid $color-black;
					height: 30px;
					line-height: 1.5;
					font-size: 20px;
					padding: 5px 10px;
					font-family: $font-monospace;
					font-weight: bold;
				}
			}
		}
	}

	.part2 .form {
		border-top: 3px solid $color-black;
		padding: 20px;
	}

	.actions {
		text-align: center;
		margin-top: 50px;
	}

	.genform & .instructions {
		border: none;
		background: none;
		padding: 0;
		margin: 0;
		color: $color-black;

		&:before {
			display: none;
		}
	}
}