@import "../../config/base-import";

.w9form {
	@include breakpoint($bp-mobile-only) {

		h1 {
			display: none;
		}

		.section {
			border-bottom: 1px solid $color-black;
			padding-bottom: 10px;
			@include clearfix;

			.heading {
				border-bottom: 1px solid $color-black;

				.name {
					background: $color-black;
					color: $color-white;
					padding: 3px 5px;
					margin-right: 25px;
					display: inline-block;
				}

				.description {
					font-weight: bold;
				}
			}
		}

		.header {
			.form_id {
				width: 150px;

				.form_name {
					display: block;
				}

				.form_number {
					font-size: 40px;
					line-height: 1;
					font-weight: bold;
					margin-left: 5px;
				}
			}

			.form_revision {
				display: block;
				font-size: 11px;
			}

			.form_full_name {
				font-weight: bold;
				font-size: 20px;
				padding-top: 20px;
			}

			.form_submission_instructions {
				display: none;
			}
		}

		.basic_info {
			.instructions {
				display: none;
			}

			> .form {
				padding: 10px 0;
			}

			.question {
				margin: 15px 0;

				&.name,
				&.dba_name,
				&.account_numbers,
				&.classification,
				&.exempt {
					> label {
						display: block;
						font-weight: bold;
						margin-bottom: 3px;
					}
				}

				&.name,
				&.dba_name,
				&.account_numbers {
					input {
						width: 100%;
					}
				}

				&.classification {
					> div {
						margin: 5px 0;
					}
				}
			}

			.address_form {
				label {
					font-size: 14px;
				}
			}

			.question_subgroup {
				display: none;
			}
		}

		.part1 {
			.form {
				.question {
					margin: 15px 0;

					label {
						font-weight: bold;
						display: block;
						margin-bottom: 3px;
					}

					.val {
						display: block;
						border: 1px solid $color-black;
						min-height: 35px;
						font-size: 20px;
						padding: 5px 10px;
						font-family: $font-monospace;
						font-weight: bold;
					}
				}
			}
		}
	}

	@include breakpoint($bp-tablets-landscape) {
		width: 900px;
		margin: 0 auto;

		h1 {
			text-align: center;
		}

		.section {
			border-bottom: 1px solid $color-black;
			@include clearfix;

			.heading {
				border-bottom: 1px solid #000;

				.name {
					background: #000;
					color: #fff;
					padding: 3px 5px;
					margin-right: 25px;
					display: inline-block;
				}

				.description {
					font-weight: bold;
				}
			}
		}

		.header {
			.form_id {
				float: left;
				border-right: 1px solid $color-black;
				width: 150px;
				height: 95px;

				.form_name {
					display: block;
				}

				.form_number {
					font-size: 40px;
					line-height: 1;
					font-weight: bold;
					margin-left: 5px;
				}
			}

			.form_revision {
				display: block;
				font-size: 11px;
			}

			.form_full_name {
				float: left;
				text-align: center;
				font-weight: bold;
				font-size: 20px;
				width: 600px;
				height: 75px;
				padding-top: 20px;
			}

			.form_submission_instructions {
				float: left;
				width: 128px;
				border-left: 1px solid #000;
				padding: 15px 10px;
				font-weight: bold;
				height: 95px;
				line-height: 1.5;
				font-size: 12px;
			}
		}

		.basic_info {
			position: relative;

			.instructions {
				position: absolute;
				left: -125px;
				top: 185px;
				text-align: center;
				font-weight: bold;
				transform: rotate(-90deg);
				filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
				width: 300px;
			}

			.form {
				margin-left: 50px;
				border-left: 1px solid $color-black;
			}

			.question {
				border-bottom: 1px solid $color-black;

				> label {
					font-size: 11px;
					display: block;
					padding-left: 10px;
				}
			}

			input[type=text] {
				background: #f1f4ff;
				padding: 5px;
				margin: 0;
				border: none;
				width: 100%;
				box-sizing: border-box;
				box-shadow: none;

				&:focus {
					border: none;
					box-shadow: none;
					background: $color-white;
				}
			}

			select {
				padding: 4px 0;
				border: none;
				background: transparent;
			}

			.classification {
				width: 725px;
				float: left;
				height: 140px;
			}

			.exempt {
				float: left;
				width: 123px;
				height: 140px;
				border-left: 1px solid $color-black;

				> label {
					display: none;
				}

				.ctb {
					font-size: 12px;
					padding-top: 60px;
					padding-left: 10px;
					display: block;
				}
			}

			.address {
				clear: both;
				position: relative;
				border-bottom: 1px solid #000;
			}

			.address_form {
				position: absolute;

				label {
					display: none;
				}

				input,
				.region_container {
					position: absolute;
					top: 200px;
				}

				input.address_line_first {
					top: 14px;
					left: 0;
					width: 300px;
				}

				input.address_line_last {
					top: 14px;
					left: 301px;
					width: 300px;
				}

				input.city {
					top: 60px;
					left: 0;
					width: 249px;
				}

				.region_container {
					top: 60px;
					left: 256px;
					width: 190px;
				}

				input.postal_code {
					top: 60px;
					left: 451px;
					width: 150px;
				}
			}

			.question_subgroup .question {
				display: inline-block;
				vertical-align: top;
				height: 45px;
				border-right: 1px solid #000;
			}

			.street_address .address_line {
				width: 301px;
			}

			.area {
				.question {
					border-bottom: none;
				}

				.city {
					width: 250px;
				}

				.region {
					width: 201px;
				}

				.postal_code {
					width: 151px;
				}
			}

			.account_numbers {
				border: none;
			}
		}

		.classification {
			> div {
				line-height: 26px;
			}

			.sole_proprietor,
			.c_corp,
			.s_corp,
			.partnership,
			.trust,
			.llc,
			.llc_tax_class {
				vertical-align: top;
				display: inline-block;
				margin-right: 20px;
				margin-top: 10px;
			}

			.sole_proprietor,
			.llc,
			.other {
				margin-left: 10px;
			}

			.llc,
			.other {
				margin-top: 10px;
			}

			.llc {
				line-height: 30px;
			}

			.llc_tax_class {
				select {
					width: 130px;
				}
			}
		}

		.part1 {
			.instructions {
				float: left;
				width: 650px;
			}

			.form {
				float: left;
				width: 200px;
				margin-left: 50px;

				.question {
					margin: 15px 0;

					label {
						font-size: 12px;
					}

					.val {
						display: block;
						border: 1px solid $color-black;
						height: 30px;
						font-size: 20px;
						padding: 5px 10px;
						font-family: $font-monospace;
						font-weight: bold;
					}
				}
			}
		}

		.part2 .form {
			border-top: 3px solid $color-black;
			padding: 20px;
		}

		.actions {
			text-align: center;
			margin-top: 50px;
		}
	}
}