/* status design */
.status:before {
	content: "";
	display: inline-block;
	width: 0.75em;
	height: 0.75em;
	border-radius: 0.25em;
	margin-right: 5px;
	background-color: $color-grey-ea;
}

.status_notice {
	color: $color-status-notice-text;

	&:before {
		background-color: $color-status-notice-bg;
	}
}

.status_clear {
	color: $color-status-clear-text;

	&:before {
		background-color: $color-status-clear-bg;
	}
}

.status_attention {
	color: $color-status-attention-text;

	&:before {
		background-color: $color-status-attention-bg;
	}
}

span.help_point {
	position: relative;
	display: inline-block;
	margin-left: 5px;
	cursor: help;
	text-decoration: none;

	&:before {
		content: $html-entity-help;
		font-family: $font-glyph-lib;
		display: block;
		color: $color-grey-55;
		font-size: 17px;
	}

	.hp-tooltip {
		background: $color-grey-33;
		padding: 15px 20px;
		color: $color-white;
		position: absolute;
		top: 100%;
		left: 0;
		margin-top: -10px;
		z-index: 50;
		box-shadow: 0 0 4px transparentize($color-black, 0.7);
		min-width: 200px;
		transition: all 0.2s;
		opacity: 0;
		text-align: left;
		font-weight: normal;
		line-height: 1.4;

		&.active {
			opacity: 1;
			margin-top: 0;
		}

		.arrow {
			position: absolute;
			bottom: 100%;
			left: 0;
			width: 0;
			height: 0;
			border-top: none;
			border-right: 8px solid transparent;
			border-left: 8px solid transparent;
			border-bottom: 5px solid $color-grey-33;
		}
	}
}

.style-pt-tip {
	.ot-content {
		color: $color-white;
		line-height: 1.3;
		font-size: 15px;
		text-shadow: -1px -1px 0 transparentize($color-black, 0.8);
	}
}