.btn,
button.miwt_button,
a.miwt_button,
input[type=submit],
button[type=submit] {
	display: inline-block;
	padding: 4px 12px;
	margin: 0 3px;
	font-size: 14px;
	line-height: 20px;
	color: $color-grey-33;
	text-align: center;
	text-shadow: 0 1px 1px transparentize($color-white, 0.25);
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	background-color: $color-grey-f9;
	background-image: linear-gradient(to bottom, $color-white, $color-grey-e6);
	background-repeat: repeat-x;
	border: 1px solid $color-grey-cc;
	border-color: transparentize($color-black, 0.9) transparentize($color-black, 0.9) transparentize($color-black, 0.75);
	border-bottom-color: $color-grey-b3;
	border-radius: 4px;
	box-shadow: inset 0 1px 0 transparentize($color-white, 0.8),
		0 1px 2px transparentize($color-black, 0.95);
	/* ie fixes */
	*display: inline;
	*margin-left: .3em;
	*background-color: $color-grey-e6;
	*border: 0;
	*zoom: 1;

	&:hover,
	&:focus,
	&:active,
	&.miwt_button_disabled {
		color: $color-grey-33;
		background-color: $color-grey-e6;
		*background-color: #d9d9d9;
	}

	&:hover,
	&:focus {
		color: $color-grey-33;
		text-decoration: none;
		background-position: 0 -15px;
		transition: background-position 0.1s linear;
	}

	&:focus {
		outline: thin dotted $color-grey-33;
		outline-offset: -2px;
	}

	&:active {
		background-image: none;
		outline: 0;
		box-shadow: inset 0 2px 4px transparentize($color-black, 0.85),
			0 1px 2px transparentize($color-black, 0.95);
	}

	&.miwt_button_disabled {
		cursor: default;
		background-image: none;
		opacity: 0.65;
		box-shadow: none;
	}

	.ieonly & {
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
		filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
		border-color: $color-grey-e6 $color-grey-e6 $color-grey-bf;

		&.miwt_button_disabled {
			filter: alpha(opacity=65);
		}
	}

	.btn-primary {
		color: $color-white;
		text-shadow: 0 -1px 0 transparentize($color-black, 0.75);
		background-color: #006dcc;
		background-image: linear-gradient(to bottom, #0088cc, #0044cc);
		background-repeat: repeat-x;
		border-color: transparentize($color-black, 0.9) transparentize($color-black, 0.9) transparentize($color-black, 0.75);
		*background-color: #0044cc;
		/* Darken IE7 buttons by default so they stand out more given they won't have borders */

		&:hover,
		&:focus,
		&:active,
		&.miwt_button_disabled {
			color: $color-white;
			background-color: #0044cc;
			*background-color: #003bb3;
		}

		.ieonly & {
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
			filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
			border-color: #0044cc #0044cc #002a80;
		}
	}
}