
/* css for generic style forms */
.genform {
	input[type=password],
	input[type=text],
	input[type=email],
	input[type=tel],
	textarea {
		margin: 0;
		padding: 4px;
		border: 1px solid #d9d9d9;
		border-radius: 2px;

		box-shadow: 1px 1px 1px transparentize($color-white, 0.5),
		0 0 2px transparentize($color-black, 0.9) inset;

		outline: none;
		transition: all 0.25s;

		background: $color-grey-f5;
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYWZhZmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: linear-gradient(to bottom,  rgba(247,247,247,1) 0%,rgba(250,250,250,1) 100%); /* W3C */

		&:focus {
			border: 1px solid #2896d3;
			background: $color-white;
			box-shadow: 0 0 3px rgba(32,175,207,0.5);
		}

		.ieonly & {
			background: none;
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#fafafa',GradientType=0 ); /* IE6-8 */
		}
	}

	input[type=password],
	input[type=text],
	input[type=email],
	input[type=tel] {
		line-height: 20px;
	}

	input[disabled] {
		color: $color-grey-99;
	}

	textarea {
		width: 350px;
		height: 100px;
	}

	select {
		margin: 0;
		padding: 3px;
		border: 1px solid $color-grey-d5;
		border-radius: 2px;
		box-shadow: 1px 1px 1px transparentize($color-white, 0.5),
		0 0 2px transparentize($color-black, 0.9) inset;

		outline: none;
		transition: all 0.25s;

		&:focus {
			border: 1px solid #20AFCF;
		}
	}

	.miwt_calendar_clear {
		display: none;
	}

	button.ui-datepicker-trigger {
		vertical-align: middle;

		img {
			display: block;
			height: 15px;
		}

		#ie7only & {
			vertical-align: top;
		}
	}

	.user_entry_required {
		> label,
		> .label {
			padding-left: 10px;
			background: transparent url(/resources/all/docroot/cms/icons/x16/icon_required.png) no-repeat left top;
		}
	}

	.instructions {
		font-size: 12px;
		border: 1px solid #EAD65C;
		background-color: #FCEFA1;
		padding: 0 10px;
		margin: 10px 0;
		display: block;
	}
}

button.miwt_calendar_open {
	background: transparent url(/resources/dyn/files/205191z67b40d25/_fn/icon-calendar.png) no-repeat scroll center top;
	height: 24px;
	width: 24px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-indent: -1000em;
	font: normal .9em Arial;
	cursor: hand;
	cursor: pointer;
	border: none;
	color: $color-grey-55;
}