
.message_container {
	margin: 15px 0;
	text-align: left;

	& + & {
		margin-top: -10px;
	}

	.message {
		:first-child {
			margin-top: 0;
		}

		:last-child {
			margin-bottom: 0;
		}
	}
}

.message {
	@include style-message-base;

	:first-child {
		margin-top: 0;
	}

	:last-child {
		margin-bottom: 0;
	}

	&.error {
		@include style-message-error;
	}

	&.important {
		@include style-message-important;
	}

	&.info {
		@include style-message-info;
	}

	&.success {
		@include style-message-success;
	}
}