
.message_container {
	margin: 15px 0;
	text-align: left;

	+ & {
		margin-top: -15px;
	}

	.message {
		:first-child {
			margin-top: 0;
		}

		:last-child {
			margin-bottom: 0;
		}
	}
}

.message {
	@include style-message-base;

	&.error {
		@include style-message-error;
	}
}