html, body, div.page, div.ieonly {
    height: auto;
    margin: 0;
    padding: 0;
}

html {
  background: url(/resources/dyn/files/206322zc78fed4/_fn/VendorProof-Implementation-Landing-Page_02.png) no-repeat center bottom #FEFEFE;
}

#body_wc_0 {
  width: 880px;
}

#e_wrapper {
   min-height: 0!important;
   padding-bottom: 200px;
}

#header {
background: #ededed; /* Old browsers */
background: -moz-linear-gradient(top,  #ededed 0%, #e5e5e5 28%, #cecece 50%, #939393 89%, #4f4f4f 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(28%,#e5e5e5), color-stop(50%,#cecece), color-stop(89%,#939393), color-stop(99%,#4f4f4f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ededed 0%,#e5e5e5 28%,#cecece 50%,#939393 89%,#4f4f4f 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ededed 0%,#e5e5e5 28%,#cecece 50%,#939393 89%,#4f4f4f 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ededed 0%,#e5e5e5 28%,#cecece 50%,#939393 89%,#4f4f4f 99%); /* IE10+ */
background: linear-gradient(to bottom,  #ededed 0%,#e5e5e5 28%,#cecece 50%,#939393 89%,#4f4f4f 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#4f4f4f',GradientType=0 ); /* IE6-9 */
}

#header_wc_0 {
 text-align: left;
 padding: 10px 0;
 position: relative;
}

#e_content {
    padding-bottom: 0;
}

#cert {
  position: absolute;
  bottom: -90px;
  right: 15px;
  z-index: 10;
}

#vp_logo,
#header_wc_0 .script {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
}

#header_wc_0 .script .client-logo img {
  float: right;
  margin-right: 1em;
  max-height: 45px;
}

#header_wc_0 .script .client-logo:before {
  content: "in partnership with";
  font-size: 0.8em;
  color: #939393;
  display: block;
  position: absolute;
  top: 3px;
  right: 1.5em;
}

.miwt_form .error_txt {
  margin-top: 20px;
  background-color: #FFD9DA;
  border: 2px solid #FFABAD;
  color: #9E0013;
  text-align: center;
  padding: 10px 15px;
  font-weight: bold;
}

.client-content {
background: #75c7d1; /* Old browsers */
background: -moz-linear-gradient(top,  #75c7d1 0%, #b4e4e9 81%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#75c7d1), color-stop(81%,#b4e4e9)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #75c7d1 0%,#b4e4e9 81%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #75c7d1 0%,#b4e4e9 81%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #75c7d1 0%,#b4e4e9 81%); /* IE10+ */
background: linear-gradient(to bottom,  #75c7d1 0%,#b4e4e9 81%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75c7d1', endColorstr='#b4e4e9',GradientType=0 ); /* IE6-9 */

  opacity: 0.83;

  border-radius: 0 0 15px 15px;
  -moz-border-radius: 0 0 15px 15px;
  -webkit-border-radius: 0 0 15px 15px;
  
  padding: 2em;
}

.client-content div {
  opacity: 1;
}

.vendor_purl_ui .info .heading {
  display: none;
}

.client-content .cover-image,
.client-content .info {
  display: inline-block;
  vertical-align: middle;
}

.client-content .cover-image {
  width: 60%;
}

.client-content .info .body h1:first-child {
  margin-top: 0;
}

.cover-image img {
  width: 465px;
  height: auto;
}

.client-content .info {
  width: 38%;
}

.client-content .info .actions,
.signup button.miwt_button {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.signup button.miwt_button {
  display: block;
  background: #64bd0d;
  border: none;
  padding: 12px 50px;
  
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  text-shadow: none;

  border-radius: 13px;
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;

-webkit-box-shadow: 2px 3px 1px 0px rgba(0,0,0,0.6);
-moz-box-shadow: 2px 3px 1px 0px rgba(0,0,0,0.6);
box-shadow: 2px 3px 1px 0px rgba(0,0,0,0.6);
}

.client-purl-component .logo {
  margin: 0 auto 2em;
  text-align: center;
}

.client-purl-component .logo:before {
  content: "Partnering with";
  display: block;
  height: 1em;
  color: #000;
  font-size: 0.9em;
  padding: 1em 0 2em;
  margin-top: 1em;
}

#footer {
   height: 200px;
   margin-top: -200px;
}

#footer #steps {
  width: 660px;
  margin: 2em auto;
  font-weight: bold;
  text-transform: uppercase;
}

#footer #steps ol,
#footer #steps ul {
  text-align: left;
  counter-reset: item;
  padding: 0;
}

#footer #steps ol li,
#footer #steps ul li {
  display: inline-block;
  vertical-align: top;
  height: 115px;
  width: 220px;
  text-align: center;
  position: relative;
}


#footer #steps ol li:before {
  content: counter(item) ". ";
  counter-increment: item;
}

#footer #steps ol li.create img,
#footer #steps ol li.submit-pay img{
  margin-top: 1.25em;
}


