@import "../../config/base-import";

@import "../../Library/normalize";
@import "../../Library/Select2/select2-responsive";
@import "../../Library/opentip";

@include fontFace('GlyphLib', '/glyph-lib', 'vp-glyph-font');

@import "../components/partials/buttons";
@import "../components/partials/tables";
@import "../components/partials/pager";
@import "../components/partials/search";
@import "../components/partials/messages";
@import "../components/partials/tabs";
@import "../components/partials/popups";
@import "../components/partials/property-editor";
@import "../components/partials/calendar";
@import "../components/partials/forms";
@import "template--base/structure";
@import "template--base/base-components";

.property_wrapper .persistence_actions,
.subclient_selection .persistence_actions, /* special because not a property wrapper completely */
.property_wrapper > .actions {
	text-align: right;
	margin-top: 10px;
	margin-bottom: 10px;
	display: block;
}
