/* ==========================================================================
   Standard CSS for Basic Search UI
   baiken@vipasolutions.com, sbenes
   Updated January 4, 2013
   ========================================================================== */

/* Form Elements
   ========================================================================== */
.search_wrapper input,
.search_wrapper select,
.search_wrapper textarea {
  border: 1px solid #B7B7B5;
  padding: 2px;
  margin: 2px;
  font-family: Arial, Verdana, sans-serif;
}

.search_wrapper input:focus,
.search_wrapper select:focus,
.search_wrapper textarea:focus {
  background-color: #feffdd;
}

.search_wrapper button,
.search_wrapper  input[type="submit"],
.search_wrapper input[type="reset"],
.search_wrapper .constraints a.miwt_submit {
  font-family: Arial, Verdana, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: #333;
  white-space: nowrap;
  
  background: #e5e5e3;
  
  display: inline-block;
  zoom: 1;
  *display: inline;
  cursor: pointer;
  
  padding: 4px 8px;
  margin-right: 5px;
  border: 1px solid #B7B7B5;
  -moz-border-radius: 4px;
  border-radius: 4px;
  
  -webkit-text-shadow: 1px 1px 0 rgba(255,255,255,0.8);
  -moz-text-shadow: 1px 1px 0 rgba(255,255,255,0.8);
  -ms-text-shadow: 1px 1px 0 rgba(255,255,255,0.8);
  -o-text-shadow: 1px 1px 0 rgba(255,255,255,0.8);
  text-shadow: 1px 1px 0 rgba(255,255,255,0.8);
  -webkit-box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8) inset, 
                      -1px -1px 0 rgba(0,0,0,0.05) inset;
  -moz-box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8) inset, 
                   -1px -1px 0 rgba(0,0,0,0.05) inset;
  box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8) inset, 
              -1px -1px 0 rgba(0,0,0,0.05) inset;  
}

.search_wrapper button:hover,
.search_wrapper input:hover[type="submit"],
.search_wrapper input:hover[type="reset"] {
  background-color: #DDDAAA;
}

.search_wrapper button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.search_wrapper .miwt_table td button {
  padding: 2px 6px;
  font-size: 11px;
}

/* Search Bar
   ========================================================================== */
/*
.search_bar {
  margin: 10px 0;
  padding: 10px;
  background-color: #F9F9F7;
  border: 1px dotted #CBC8B9;
}

.search_bar .constraints,
.search_bar .result_limit {
  display: inline-block;
  zoom: 1;
  *display: inline;
  padding: 10px;
}

.search_bar .constraint {
  display: inline-block;
  zoom: 1;
  *display: inline;
  white-space: nowrap;
  margin: 5px;
  padding: 5px;
}

.search_bar .constraint label {
  display:block;
}

.search_bar .search_actions {
  display: inline-block;
  zoom: 1;
  *display: inline;
  padding: 10px;  
}
*/

/* Actions
   ========================================================================== */
.search_wrapper .entity_actions,
.search_wrapper .result_actions {
  text-align: right;
  display: block;
  padding: 10px 0;
}

/* Results Table
   ========================================================================== */
/*
.search_wrapper .miwt_table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.search_wrapper .miwt_table thead th {
  padding: 3px;
  text-align: left;
  background-color: #FAF9E2;
  border-top: 1px solid #DDDAAA;
  border-bottom: 3px solid #DDDAAA;
}

.search_wrapper .miwt_table thead th.first {
  border-left: 1px solid #DDDAAA;
}

.search_wrapper .miwt_table thead th.last {
  border-right: 1px solid #DDDAAA;
}

.search_wrapper .miwt_table thead th a {
  text-decoration: none;
  color: #5d5636;
}

.search_wrapper .miwt_table tbody tr:hover td {
  background-color: #feffdd;
}

.search_wrapper .miwt_table tbody td {
  padding: 3px;
  border-bottom: 1px dotted #ddd;
}

.search_wrapper .miwt_table tbody .even td {
  background-color: #fff;
}

.search_wrapper .miwt_table tbody .odd td {
  background-color: #F9F9F7;
}

.search_wrapper td.action_column {
  width: 1%;
  white-space: nowrap;
}

.search_wrapper .miwt_table td.last,
.search_wrapper .miwt_table th.last {
  text-align: right;
  padding-right: 10px;
}

*/