@font-face {
    font-family: 'SourceSansProLight';
    src: url('/resources/dyn/files/1905051zf2672204/_fn/Source-Sans-Pro-300.eot');
    src: url('/resources/dyn/files/1905051zf2672204/_fn/Source-Sans-Pro-300.eot?#iefix') format('embedded-opentype'),
    url('/resources/dyn/files/1905054z820dd68b/_fn/Source-Sans-Pro-300.woff') format('woff'),
    url('/resources/dyn/files/1905053z1c694328/_fn/Source-Sans-Pro-300.ttf') format('truetype'),
    url('/resources/dyn/files/1905052z6b6e73be/_fn/Source-Sans-Pro-300.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansProLightItalic';
    src: url('/resources/dyn/files/1905046z751886e6/_fn/Source-Sans-Pro-300italic.eot');
    src: url('/resources/dyn/files/1905046z751886e6/_fn/Source-Sans-Pro-300italic.eot?#iefix') format('embedded-opentype'),
    url('/resources/dyn/files/1905049ze5a79b77/_fn/Source-Sans-Pro-300italic.woff') format('woff'),
    url('/resources/dyn/files/1905048z92a0abe1/_fn/Source-Sans-Pro-300italic.ttf') format('truetype'),
    url('/resources/dyn/files/1905047z21fb670/_fn/Source-Sans-Pro-300italic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}?